// ==========
// Base
// ==========

// Form
$sassy-base-color: darken(#eaebec, 10%);
$sassy-accent-color: #74d3de;

@import "node_modules/sassy-inputs/sass/main";

html {
    @include typi-base();

    box-sizing: border-box;
}

* {
    box-sizing: inherit;

    &:before {
        box-sizing: inherit;
    }

    &:after {
        box-sizing: inherit;
    }
}

body {
    font-weight: 400;
    font-size: 16px;
    position: relative;    
    color: $dark-grey;
    font-family: $sans-serif;
}

// Elements
h1 {
    @include typi(h1-map);
    margin-bottom: 1rem;
}

h2 {
    @include typi(h2-map);
    margin-bottom: 1rem;
}

h3 {
    @include typi(h3-map);
    margin-bottom: 1rem;
}

h4 {
    @include typi(h4-map);
    margin-bottom: 1rem;
}

h5 {
    @include typi(h5-map);
    margin-bottom: 1rem;
}

h6 {
    @include typi(h6-map);
    margin-bottom: 1rem;
}

small {
    @include typi(small-map);
}

p {
    margin-bottom: 0.5rem;
    margin-top: 0;
}

a {
    outline: 0;
    color: $blue;
    text-decoration: none;

    &:focus {
        outline: 0;
    }
}

strong {
    font-weight: bold;
}

ul, ol {
    padding-left: 20px;
}

hr {
    border: 0;
    height: 1px;
    background: darken($grey, 5%);
}

input[type=submit],
input[type=button],
button {
    @include sassy-button;

    background-color: $orange;
    color: white;
}

input[type=text],
input[type=url],
input[type=email],
input[type=password],
input[type=number] {
    @include sassy-text;
}

textarea {
    @include sassy-textarea;
}

.o-select-wrap {
    @include sassy-select;

    select {
        font-size: 0.75rem;
        padding-top: 1.125rem;
        padding-bottom: 0.38rem;
    }
}

.o-select--label {
    font-size: 0.625rem;
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 0.3em;
    padding: 0 0.75rem;
    z-index: 1;
    user-select: none;
    transform: translateY(3px);
    pointer-events: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

input[type=checkbox] {
    @include sassy-checkbox;
    
    + label {
        &::before {
            background-color: white;
            border: 1px solid $grey;
        }
    }

    &:focus {
        + label {
            &::before {
                box-shadow: none;
            }
        }
    }

    &:checked {
        + label {
            &::after {
                content: '✓';
                border: 0;
                transform: none;
                color: white;
            }

            &::before {
                background-color: $blue;
                border: 1px solid $dark-blue;
            }
        }
    }
}

input[type=radio] {
    @include sassy-radio;
}

main {
    @include mappy-bp(large) {
        padding-top: 2rem;
    }

    position: relative;
    overflow: hidden;
    padding-top: 1rem;
}

.img-responsive {
    display: inline-block;
    max-width: 100%;
    height: auto;
}