// =====================
// Component - Header 
// =====================
header {
	@include cf;
}

.c-logo {
	background: url("//via.placeholder.com/200x120?text=Logo+BOOSTED") 0 0 no-repeat;
	width: 100%;
	padding-top: 60%;
}
