// ======================
// Component - Footer 
// ======================
footer {
	@include typi('footer-map');

	ul {
		list-style: none;
		padding-left: 0;

		li {
			display: inline-block;

			&:not(:first-child) {
				@include mappy-bp(large) {
					margin-left: 2rem;
				}

				margin-left: 1rem;
			}
		}
	}
}

.c-form--return {
	display: block;
	font-size: 0.875rem;
	float: left;
}

.c-form--next {
	@include mappy-bp(large) {
		float: right;
	}

	float: none;
}