// =====================
// Component - Header 
// =====================
header {
	@include cf;
}

.c-logo {
	max-width: 165px;
}

.c-logo--img {
	background: url("//via.placeholder.com/165x40?text=LOGO+BOOSTED") 0 0 no-repeat;
	text-indent: -9999px;

	// substitute for your image dimensions
    @include responsive-bg-image(165, 40);
}

.c-breadcrumb--list {
	@include cf;

	list-style: none;
	padding-left: 0;

	li {
		@include typi('breadcrumb-map');

		float: left;

		&:not(:first-child) {
			&:before {
				content: ">";
				margin: 0 0.625rem;
			}
		}
	}
}

.c-payment--list {
	@include cf;

	list-style: none;
	padding-left: 0;

	li {
		float: left;

		&:not(:first-child) {
			margin-left: 0.3125rem;
		}
	}
}